/*Created by Andrew Ryan*/
aside.left{
    float: left;
    width: 130px;
    margin: 0;
    height: 500px;
    border-right: 1px solid gray;
    padding: 1em;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX9452282.jpg");
    background-repeat: repeat-y;
}
aside.right{
    float: right;
    width: 130px;
    margin: 0;
    height: 500px;
    border-right: 1px solid gray;
    padding: 1em;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX9452282.jpg");
    background-repeat: repeat-y;
}
section.left{
    position: absolute;
    top: 30%;
    left: 18%;
    width: 20%;
    margin: 0;
    height: 65%;
    padding: 1em;
    border: 1px solid gray;
}
section.center{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 20%;
    margin: 0;
    height: 65%;
    padding: 1em;
    border: 1px solid gray;
}
section.right{
    position: absolute;
    top: 30%;
    right: 18%;
    width: 20%;
    margin: 0;
    height: 65%;
    padding: 1em;
    border: 1px solid gray;
}
footer{
    padding: 1em;
    text-align: right;
}
a.font{
    font-size: 10px;
    color: #121212;
}
p.desc{
    position: absolute;
    top: 65%;
    right: 30%;
    width: 40%;
    margin: 0;
    height: 30%;
    padding: 1em;
    border: 1px solid gray;
}
select.position{
    position: absolute;
    top: 40%;
    right: 27%;
}
select.whipPosition{
    position: absolute;
    top: 40%;
    right: 25%;
}

/*
body{
	position: relative;
	top: 30px;
	background-image: url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg");
	background-size: 120%;
	background-repeat: no-repeat;
	text-align: center;
}
*/