/*Created by Andrew Ryan*/
aside.left{
    float: left;
    width: 130px;
    margin: 0;
    height: 500px;
    border-right: 1px solid gray;
    padding: 1em;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX9452282.jpg");
    background-repeat: repeat-y;
}
aside.right{
    float: right;
    width: 130px;
    margin: 0;
    height: 500px;
    border-right: 1px solid gray;
    padding: 1em;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX9452282.jpg");
    background-repeat: repeat-y;
}
section.left{
    position: absolute;
    top: 195px;
    left: 18%;
    width: 20%;
    margin: 0;
    height: 425px;
    padding: 1em;
    border: 1px solid gray;
}
section.center{
    position: absolute;
    top: 195px;
    right: 40%;
    width: 20%;
    margin: 0;
    height: 425px;
    padding: 1em;
    border: 1px solid gray;
}
section.right{
    position: absolute;
    top: 195px;
    right: 18%;
    width: 20%;
    margin: 0;
    height: 425px;
    padding: 1em;
    border: 1px solid gray;
}
footer{
    padding: 1em;
    text-align: right;
}
a.font{
    font-size: 10px;
    color: #121212;
}
a.home{
    position: absolute;
    top: 50px;
    right: 135px;
    font-size: 24px;
    color: #E70C0C;
}
p.desc{
    position: absolute;
    top: 420px;
    right: 30%;
    width: 40%;
    margin: 0;
    height: 190px;
    padding: 1em;
    border: 1px solid gray;
}
select.slpFinish{
    position: absolute;
    top: 200px;
    right: 306px;
}
select.proFinish{
    position: absolute;
    top: 200px;
    right: 365px;
}
select.whipFinish{
    position: absolute;
    top: 200px;
    right: 325px;
}

select.slpHose{
    position: absolute;
    top: 250px;
    right: 350px;
}
select.proHose{
    position: absolute;
    top: 250px;
    right: 365px;
}
select.whipHose{
    position: absolute;
    top: 250px;
    right: 335px;
}

button.slpCart{
    position: absolute;
    top: 360px;
    right: 375px;
}
button.proCart{
    position: absolute;
    top: 370px;
    right: 385px;
}
button.whipCart{
    position: absolute;
    top: 374px;
    right: 345px;
}

/*
body{
	position: relative;
	top: 30px;
	background-image: url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg");
	background-size: 120%;
	background-repeat: no-repeat;
	text-align: center;
}
*/